*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.btn {
  padding: 1.6rem 3.2rem;
  border: none;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
  cursor: pointer;
  font-size: 1.8rem;
}

.btn:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#5bdc7d), to(#56c6e2));
  background-image: linear-gradient(to right, #5bdc7d, #56c6e2);
}

.heading-1 {
  font-size: 5rem;
  font-weight: 300;
  line-height: 1.2;
  color: #2d314d;
}

.navigation {
  max-width: 112rem;
  width: 80vw;
  height: 8rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__container {
  background-color: white;
  position: relative;
  z-index: 2;
}

.nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__logo {
  height: 2rem;
}

.nav__item {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav__item:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.nav__item:hover .nav__link {
  background-color: #f7f7f8;
}

.nav__link:link, .nav__link:visited {
  color: #9698a6;
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  padding: 1.5rem;
  text-decoration: none;
}

.header {
  max-width: 112rem;
  width: 80vw;
  height: calc(50vw - 8rem);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container {
  background-color: #fafafa;
  background-image: url(../images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position-y: -30rem;
  background-position-x: 45vw;
  background-size: 90%;
  position: relative;
}

.header__content {
  max-width: 45rem;
  display: -ms-grid;
  display: grid;
  justify-items: start;
  gap: 3rem;
}

.header__pictures {
  height: 100%;
  width: 100%;
}

.header__img {
  width: auto;
  height: 60vw;
  position: absolute;
  top: -12rem;
  right: -12rem;
  pointer-events: none;
}

.header__text {
  font-size: 1.8rem;
  color: #9698a6;
}
