$color-dark-blue: rgb(45, 49, 77);
$color-lime-green: rgb(49, 211, 92);
$color-bright-cyan: rgb(43, 183, 218);

$color-grayish-blue: rgb(150, 152, 166);
$color-grayish-blue-light: rgb(243, 244, 246);
$color-very-light-gray: rgb(250, 250, 250);
$color-white: rgb(255, 255, 255);
$font-family: 'Public Sans', sans-serif;
:root {
  --default-grid: minmax(8rem, 1fr) minmax(min-content, 112rem)
    minmax(8rem, 1fr);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 85%; // 1rem = 10px
  @media only screen and (max-width: 1700px) {
    font-size: 80%; // 1rem = 10px
  }
  @media only screen and (max-width: 1500px) {
    font-size: 70%; // 1rem = 10px
  }
  @media only screen and (max-width: 1300px) {
    font-size: 60%; // 1rem = 10px
  }
  @media only screen and (max-width: 1300px) {
    font-size: 50%; // 1rem = 10px
  }
}

body {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
}
