// NAVIGATION

.navigation {
  &__container {
    position: relative;
    z-index: 2;
    display: grid;
    background-color: $color-white;
    grid-template-columns: minmax(8rem, 1fr) minmax(min-content, 112rem) minmax(
        8rem,
        1fr
      );
    & > * {
      grid-column: 2 / 3;
    }
  }
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  list-style: none;
  display: flex;

  &__logo {
    height: 2rem;
  }

  &__item {
    transition: all 0.2s;

    &:hover {
      transform: translateY(-3px);
      & .nav__link {
        background-color: lighten($color-grayish-blue, 35);
      }
    }
  }

  &__link:link,
  &__link:visited {
    color: $color-grayish-blue;
    font-family: $font-family;
    font-size: 1.8rem;
    padding: 1.5rem;
    text-decoration: none;
  }
}

// -- HEADER

.header {
  &__container {
    background-color: $color-very-light-gray;
    background-image: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position-y: -30rem;
    background-position-x: 45vw;
    background-size: 90%;
    position: relative;
  }
  display: grid;
  grid-template-columns: var(--default-grid);
  grid-template-rows: minmax(5rem, 1fr) minmax(min-content, calc(50vw - 8rem)) minmax(
      5rem,
      1fr
    );

  align-items: center;
  &__content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    max-width: 45rem;
    display: grid;
    justify-items: start;
    gap: 3rem;
  }

  &__img {
    width: auto;
    height: 65vw;
    position: absolute;
    top: -12rem;
    right: -12rem;
    pointer-events: none;
  }
  &__text {
    font-size: 1.8rem;
    color: $color-grayish-blue;
  }
}
