.btn {
  padding: 1.6rem 3.2rem;
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(
    to right,
    $color-lime-green,
    $color-bright-cyan
  );
  color: $color-white;
  cursor: pointer;
  font-size: 1.8rem;

  &:hover {
    background-image: linear-gradient(
      to right,
      lighten($color-lime-green, 10),
      lighten($color-bright-cyan, 10)
    );
  }
}

.heading-1 {
  font-size: 5rem;
  font-weight: 300;
  line-height: 1.2;
  color: $color-dark-blue;
}
.heading-2 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: $color-dark-blue;
}
